
#vsido_div_top {
    width: 90%; 
    height: 150px; 
//    border:1px solid red;
}

#vsido_camera_frame {
    height: 800px; 
//    border:1px solid green;
}

#vsido_camera_raw {
    width: 240px; 
//    border:1px solid red;
}
#vsido_camera_face {
    width: 240px; 
//    border:1px solid red;
}
#vsido_camera_face {
    width: 240px; 
//    border:1px solid red;
}


#vsido_output_info {
    width: 100%; 
    height: 80%; 
//    border:1px solid green;
}

